body {
    font-family: 'Segoe UI', sans-serif;
    font-family: 'dimboregular';
    margin:0px;
    overflow:visible;
    padding:0px;
}

@font-face {
    font-family: 'dimboregular';
    src: url('fonts/dimbo_regular-webfont.eot');
    src: url('fonts/dimbo_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dimbo_regular-webfont.woff2') format('woff2'),
         url('fonts/dimbo_regular-webfont.woff') format('woff'),
         url('fonts/dimbo_regular-webfont.ttf') format('truetype'),
         url('fonts/dimbo_regular-webfont.svg#dimboregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

span {
    font-style: italic;
}
